@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}
body {
  overflow-x: hidden;
}
.wave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave 0.5s ease-in-out 4;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(15deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(15deg); }
  100% { transform: rotate(0deg); }
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px; /* key for ALL CAPS look */
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInLeft 0.8s ease-out forwards;
}

